/* fieldset {
    padding: 20px;
    margin: 30px;
    border: 2px solid orange;
    /* box-shadow: 3px 4px 2px orangered; */
/* } 

/* #img1 {
    float: left;
    margin-right: 20px;
}

#img2 {
    float: right;
    margin-left: 20px;
    width: 400px;
    height: 250px;
}

#img3 {
    float: left;
    margin-right: 20px;
    height: 250px;
    width: 400px;
} */
/* 
#img4 {
    float: right;
    margin-left: 20px;
    height: 250px;
    width: 400px;
}

fieldset p {
    text-align: justify;
}

fieldset p a:hover {
    color: blue;
}

fieldset p a:active {
    color: red;
}  */